<?xml version="1.0" encoding="utf-8"?>
<!-- Configuration settings, such as target framework and the location of the Eagle.exe -->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Walle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!-- The default location of EAGLE.exe files. This can be overridden by user specific settings. -->
  <userSettings>
    <Walle.Properties.Settings>
      <setting name="EagleExe" serializeAs="String">
        <value>C:\EAGLE-7.2.0\bin\eagle.exe</value>
      </setting>
      <setting name="EagleConsoleExe" serializeAs="String">
        <value>C:\EAGLE-7.2.0\bin\eaglecon.exe</value>
      </setting>
    </Walle.Properties.Settings>
  </userSettings>
</configuration>